@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --dark: #1d1d1d;
  --light: #fff;
  --green: #28a92b;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: 'Barlow', serif;
  margin: 0;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--green);
  color: var(--light);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.blue {
  background-color: rgb(100, 167, 245);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.green {
  background-color: rgb(109, 227, 109);
  height: 100vh;
  width: 100%;
}
.middle {
  height: 220vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  font-size: 5vw;
  
  font-weight: light; 
}
.para {
  color: rgba(255, 255, 255, 0.274);
  
}
.word {
  display: inline-block;
  line-height: 1;
}
